/* Estilos CSS adicionales */
body {
    background-color: rgb(148, 196, 211); /* Color de fondo del cuerpo */
}

.content {
    text-align: center; /* Centrar el texto */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.animated {
    animation: zoomInOut 10s infinite; /* Animación de acercamiento y alejamiento */
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1); /* Escala inicial y final */
    }
    50% {
        transform: scale(1.2); /* Escala en el punto medio */
    }
}

.navbar-nav .nav-link {
    padding: 10px 20px; /* Espaciado de los enlaces de navegación */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

.navbar-nav .nav-link:hover {
    background-color: #e2e6ea; /* Color de fondo al pasar el ratón */
}

footer {
    background-color: #f8f9fa; /* Color de fondo del pie de página */
    padding: 10px 0; /* Espaciado vertical del pie de página */
    text-align: center; /* Centrar el texto */
    position: absolute; /* Posicionamiento absoluto */
    bottom: 0; /* Posicionarlo en la parte inferior */
    width: 100%; /* Ancho completo */
}

footer p {
    margin: 0; /* Eliminar márgenes */
    color: #343a40; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}
